@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* Variables */
$title-font: 'Raleway', sans-serif;
$base-font: 'Open Sans', sans-serif;


/* RESET */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-width: 320px;
}


/* HEADER */

.header {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    padding: 1rem 1.4rem;
    position: relative;

    &__logo {
        font-family: $title-font;
        font-weight: 300;
        font-size: 2rem;
        color: #08A6E4;
    
        display: inline-block;
    }
}


.nav {
    display: inline-block;
    position: absolute;
    right: 1.4rem;
    margin-top: 10px;

    &__links {
        &--hidden {
            display: none;
        }
    }
}