@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* Variables */
$title-font: 'Raleway', sans-serif;
$base-font: 'Open Sans', sans-serif;


/* RESET */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-width: 320px;
    font-family: $base-font;
}


/* HEADER */

.header {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    padding: 1rem 1.4rem;
    position: relative;

    &__logo {
        font-family: $title-font;
        font-weight: 300;
        font-size: 2rem;
        color: #08A6E4;
    
        display: inline-block;
    }
}


.nav {
    display: inline-block;
    position: absolute;
    right: 1.4rem;
    margin-top: 10px;

    &__links {
        &--hidden {
            display: none;
        }
    }
}

/* WHY US SECTION */
.whyus {
    width: 100%;

    &__hero {
        margin: 5rem auto 2.5rem;
        padding: 0 1.4rem;

        &__title {
            font-family: $title-font;
            font-weight: 400;
            font-size: 2.1rem;
            margin-bottom: 1.3rem;
            text-align: center;
        }

        &__text {
            font-size: 1rem;
            margin-bottom: 2.5rem;
            padding: 0 1.4rem;
            text-align: center;
        }

        &__btn {
            background-color: #08A6E4;
            color: white;
            padding: 1rem;
            width: 100%;
            border: none;
            border-radius: 30px;
            cursor: pointer;
            font-size: 1rem;
            box-shadow: 7px 7px 8px #08a6e441;
        }
    }

    &__img {
        width: 100%;
        object-fit: fill;
    }

    &__popular {
        margin: 1.5rem auto 5rem;
        padding: 0 1.4rem;

        &__title {
            font-family: $title-font;
            font-weight: 400;
            font-size: 2.0rem;
            
            text-align: center;
            padding: 0 1.5rem;
            margin-bottom: 2.8rem;
        }

        &__card {
            width: 10rem;
            margin: 1.3rem auto 0;

            .card__icon-container {
                width: 80%;
                margin: 0 auto;

                .card__shape {
                    position: relative;
                    left: 24px;
                }

                .card__icon {
                    position: relative;
                    right: 11px;
                    top: -8px;
                }

                .eye {
                    width: 55px;
                    margin-bottom: 6px;
                }
            }

            .card__figure, .card__caption {
                text-align: center;
            }

            .card__figure {
                font-family: $title-font;
                font-weight: 800;
                font-size: 1.1rem;
                letter-spacing: 0.5rem;
                margin: 0.8rem auto 1rem;
            }

            .card__caption {
                font-family: $title-font;
                font-size: 0.9rem;
                font-weight: 400;
                color: #a5a5a5;
                
            }
        }
    }
}

/* BENEFITS SECTION */
.benefits {
    padding: 2.5rem 1.4rem;
    background-color: #f7f7f7;

    &__article {
        border: 1px solid #E8E9ED;
        border-radius: 5px;
        background-color: white;
        padding: 2rem 1.5rem;
        margin-bottom: 2.8rem;
        position: relative;

        .img--center {
            display: block;
            margin: 0 auto;
            width: 70%;
            z-index: 50;
            position: relative;
        }

        .img--absolute {
            position: absolute;
            top: 12px;
            right: 63px;
        }

        .blue-circle {
            width: 8rem;

        }

        .phone {
            position: absolute;
            z-index: 50;
            top: 40px;
            right: 52px;
        }

        &__title {
            font-family: $title-font;
            font-weight: 400;
            font-size: 2.0rem;
            text-align: center;
            margin: 1.5rem 0;
        }

        &__text {
            font-size: 0.8rem;
        }
    }
}