@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* Variables */
$title-font: 'Raleway', sans-serif;
$base-font: 'Open Sans', sans-serif;
    

/* RESET */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-width: 320px;
    font-family: $base-font;
}


/* HEADER */

.header {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    padding: 1rem 1.4rem;
    position: relative;
    gap: 2rem;

    &__logo {
        font-family: $title-font;
        font-weight: 300;
        font-size: 2rem;
        color: #08A6E4;
    
        display: inline-block;
    }

    &__progressbar {
        position: sticky;
        top: 0;
        height: 6px;
        width: 0;
        background-color: #08A6E4;
        z-index: 1000;
    }
}


.nav {
    display: inline-block;
    position: absolute;
    right: 1.4rem;
    margin-top: 10px;

    &__links--hidden {
        display: none;
        position: absolute;
        left: -99px;
        top: 43px;
        list-style: none;
        background-color: white;
        letter-spacing: 3px;
        font-weight: 700;
        color: #a5a5a5;
        padding: 20px;
        border: #07ACE6 solid 2px;

        li {
            margin: 1rem 0;

            &:active {
                color: black;
            }
        }
    }
}

/* WHY US SECTION */
.whyus {
    width: 100%;

    &__hero {
        margin: 5rem auto 2.5rem;
        padding: 0 1.4rem;
        text-align: center;

        &__title {
            font-family: $title-font;
            font-weight: 400;
            font-size: 2.1rem;
            margin-bottom: 1.3rem;
            
        }

        &__text {
            font-size: 1rem;
            margin-bottom: 2.5rem;
            padding: 0 1.4rem;
            
        }

        &__btn {
            background-color: #08A6E4;
            color: white;
            padding: 1rem;
            width: 20rem;
            border: none;
            border-radius: 30px;
            cursor: pointer;
            font-size: 1rem;
            box-shadow: 7px 7px 8px #08a6e441;
            
        }
    }

    &__img {
        width: 100%;
        object-fit: cover;
    }

    &__popular {
        margin: 1.5rem auto 5rem;
        padding: 0 1.4rem;

        &__title {
            font-family: $title-font;
            font-weight: 400;
            font-size: 2.0rem;
            
            text-align: center;
            padding: 0 1.5rem;
            margin-bottom: 2.8rem;
        }

        &__card {
            width: 10rem;
            margin: 1.3rem auto 0;

            .card__icon-container {
                width: 80%;
                margin: 0 auto;

                .card__shape {
                    position: relative;
                    left: 24px;
                }

                .card__icon {
                    position: relative;
                    right: 11px;
                    top: -8px;
                }

                .eye {
                    width: 55px;
                    margin-bottom: 6px;
                }
            }

            .card__figure, .card__caption {
                text-align: center;
            }

            .card__figure {
                font-family: $title-font;
                font-weight: 800;
                font-size: 1.1rem;
                letter-spacing: 0.5rem;
                margin: 0.8rem auto 1rem;
            }

            .card__caption {
                font-family: $title-font;
                font-size: 0.9rem;
                font-weight: 400;
                color: #a5a5a5;
                
            }
        }
    }
}

/* BENEFITS SECTION */
.benefits {
    padding: 2.5rem 1.4rem;
    background-color: #f7f7f7;

    &__article {
        width: 19rem;
        border: 1px solid #E8E9ED;
        border-radius: 5px;
        background-color: white;
        padding: 2rem 1.5rem;
        margin: 0 auto 2.8rem;
        position: relative;

        div {
            margin: 0 auto;
            width: 240px;
            position: relative;
        }

        &--nopadding {
            width: 19rem;
            border: 1px solid #E8E9ED;
            border-radius: 5px;
            background-color: white;
            padding: 1.5 0;
            margin: 0 auto 2.8rem;
            position: relative;

            .innerpadding {
                padding: 0 1.5rem;
            }

            > div {
                margin-top: 1.5rem;
                margin-bottom: -0.3rem;

                .green-rectangle {
                    width: 100%;
                }
    
                .trumpet {
                    position: absolute;
                    z-index: 50;
                    bottom: -60px;
                    right: 25px;
                }  
            }
        }

        .img--center {
            display: block;
            margin: 0 auto;
            width: 70%;
            z-index: 50;
            position: relative;
        }

        .img--absolute {
            position: absolute;
            top: -21px;
            right: 30px;
            width: 5rem;
        }

        .blue-circle {
            width: 8rem;
            display: block;
            margin: 0 auto;
        }

        .phone {
            position: absolute;
            z-index: 50;
            top: 4px;
            right: 10px;
        }

        &__title {
            font-family: $title-font;
            font-weight: 400;
            font-size: 2.0rem;
            text-align: center;
            margin: 1.5rem 0;
        }

        &__text {
            font-size: 0.9rem;
        }
    }
}


/* PRICING SECTION */
.pricing {
    padding: 2.5rem 1.2rem;

    &__title {
        font-family: $title-font;
        font-weight: 400;
        font-size: 2.2rem;
        text-align: center;
        margin-bottom: 0.9rem;
        
    }

    &__article {
        
        border-radius: 1.1rem;
        padding: 1.5rem 0 2rem;
        position: relative;
        width: 18rem;
        margin: 0 auto 3.5rem;

        .price, .features {
            display: inline-block;
            
        }

        .price {
            width: 45%;
            height: 100%;
            text-align: center;
            position: relative;
            transform: translateY(-50%);

            &__amount, &__limited {
                display: inline-block;
                width: 100%;
            }

            &__amount {
                font-size: 2.9rem;
                font-weight: 300;
            }

            &__limited {
                font-family: $title-font;
                font-size: 0.8rem;
                font-weight: 700;
                color: #13253B;
            }
        }

        .withoffer {
            transform: translateY(-25%)
        }

        .features {
            ul {
                list-style: none;
                li {
                    margin-bottom: 1.2rem;
                    font-size: 0.9rem;
                }
                img {
                    margin-right: 0.7rem;
                }
            }
        }

        button {
            display: block;
            position: absolute;
            bottom: -25px;
            right: 69px;
            width: 9.5rem;
            height: 3.1rem;
            border: none;
            border-radius: 1.5rem;
            color: white;
            font-weight: 700;
        }
    }

    .basic {
        border: 1px solid #EB476E;

        .price__amount {
            color: #EB476E;
        }

        button {
            background-color: #EB476E;
        }

        &:hover {
            transform: scale(1.1);
            box-shadow: 10px 10px 10px #EB476E44;
        }
    }

    .professional {
        border: 1px solid #07ACE6;

        .price__amount {
            color: #07ACE6;
        }

        button {
            background-color: #07ACE6;
        }

        &:hover {
            transform: scale(1.1);
            box-shadow: 10px 10px 10px #07ACE644;
        }
    }

    .premium {
        border: 1px solid #55DFB4;

        .price__amount {
            color: #55DFB4;
        }

        button {
            background-color: #55DFB4;
        }

        &:hover {
            transform: scale(1.1);
            box-shadow: 10px 10px 10px #55DFB444;
        }
    }
}

/* CONTACT SECTION */
.contact {
    padding: 0 1.4rem;
    width: 22.5rem;
    margin: 0 auto; 

    &__title {
        font-family: $title-font;
        font-weight: 400;
        font-size: 2.4rem;
        margin-bottom: 0.3rem;
    }

    &__p {
        font-size: 1rem;
        font-weight: 400;
    }

    &__info {
        margin: 2.2rem 0;
        div > span {
            vertical-align: super;
            color: #a5a5a5;
        }
    }

    &__form {

        label {
            font-size: 0.7rem;
            font-weight: 600;
            letter-spacing: 0.4rem;
            color: #08A6E4;
        }

        input {
            margin-bottom: 1.5rem;
            padding: 0.8rem 1rem;
            border: none;
            border-bottom: 1px solid black;
            width: 100%;
        }

        

        div {
            input[type="checkbox"] {
                width: 10%;
                display: inline-block;
                vertical-align: top;
                margin-block-start: 5px;
            }

            p {
                display: inline-block;
                width: 88%;
                font-size: 0.75rem;
                color: #707070;
                margin-bottom: 2rem;
            }
        }

        .align-right {
            text-align: right;
        }

        button {
            background-color: #08A6E4;
            color: white;
            padding: 1rem;
            border: none;
            border-radius: 2.2rem;
            cursor: pointer;
            font-size: 0.8rem;
            font-weight: 700;
            box-shadow: 7px 7px 8px #08a6e441;
            width: 14rem;
            height: 3.5rem;
            margin-bottom: 2.75rem;
        }
    }
}

/* FOOTER */
footer {
    box-shadow: 0px -10px 10px rgba(0, 0, 0, 0.059);
    padding: 1.4rem 1rem;
    position: relative;

    .copyright, .socials {
        display: inline-block;
    }

    .copyright {
        width: 60%;

        &__title {
            font-family: $title-font;
            font-size: 1.6rem;
            font-weight: 300;
            color: #08A6E4;
        }

        &__disclaimer {
            font-size: 0.7rem;
            font-weight: 400;
            color: #a5a5a5;
        }
    }

    .socials {
        position: absolute;
        right: 18px;
        top: 33px;

        .twitter {
            margin-right: 0.8rem;
        }
    }
}

// Functionality
.active {
    display: block;
}


@media only screen and (min-width: 1000px) {
    

    .header {
        padding: 0 8.5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .nav {
        position: static;
        display: flex;
        align-items: center;
        margin: 0;
        height: 73.38px;
        
        &__burgermenu {
            display: none;
        }

        &__links--hidden {
            position: static;
            background-color: transparent;
            border: none;
            display: flex;
            align-items: center;
            list-style: none;
            gap: 6rem;
            font-size: 0.7rem;
            font-weight: 700;
            color: #a5a5a5;

                li {
                    padding: 1.7rem 0.5rem;
                    text-align: center;
                    border-bottom: 4px solid white;

                    &:hover {
                        color: black;
                        border-bottom: 4px solid #08A6E4;
                    }
                }
        }
    }
    
    .whyus__hero {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .whyus__popular {
        &__title {
            font-size: 2.25rem;
        }
        > div {
            margin: 0 auto;
            display: flex;
            width: 950px;
            
        }
    }

    .benefits {

        &__article {
            width: 90%;
            max-width: 71rem;
            height: 23rem;
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            text-align: left;
            padding: 0 2.1rem;

            > div {
                width: 20.6rem;
            }

            &__text {
                margin-bottom: 3.1rem;
                font-size: 1rem;
            }

            &__decor.red {
                border-bottom: 4px solid #FB3B64;
            }
            &__decor.blue {
                border-bottom: 4px solid #08A6E4;
            }
            &__decor.green {
                border-bottom: 4px solid #55DFB4;
            }

            &:nth-of-type(2) {
                flex-direction: row;
            }

            &__title {
                margin-top: 0;
                text-align: left;
                font-size: 2.25rem;
            }

            .phone {
                position: absolute;
                z-index: 50;
                top: 17px;
                right: 59px;
                width: 17rem;
            }

            &--nopadding {
                width: 90%;
                max-width: 71rem;
                display: flex;
                align-items: center;
                text-align: left;
                padding: 0;
                margin: 0 auto 2.8rem;
                position: relative;
                gap: 2rem;
                background-color: #f7f7f7;
                border: none;

                > div {
                    margin-top: 0;
                    background-color: white;
                    border: 1px solid #e5e5e5;
                    border-radius: 5px;
                    height: 23rem;
                }

                > .images {
                    width: 21.5rem;
                    border: none;
                    flex-shrink: 0;
                    position: relative;

                    .green-rectangle {
                        width: 100%;
                        height: 100%;
                    }

                    .trumpet {
                        position: absolute;
                        z-index: 50;
                        bottom: 54px;
                        right: 44px;
                    }
                }

                > .text {
                    width: 38.9rem;
                    padding: 0 10rem 0 2.1rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    flex-grow: 1;
                    
                    h2 {
                        font-size: 2.25rem;
                    }

                    p {
                        font-size: 1rem;;
                    }

                    .green {
                        width: 70%
                    };
                }
            }
        }

            .blue-circle {
                width: 13rem;
                display: inline;
            }

            .img--center {
                width: 99%;
            }

            .img--absolute {
                position: absolute;
                top: -49px;
                right: -17px;
                width: 11rem;
            }

            
    }
    
    .pricing {
        padding: 7rem 11.25rem;

        > h2 {
            margin-bottom: 3.1rem;
        }

        > div {
            display: flex;
            gap: 2.5rem;

            > article {
                width: 23.25rem;
                display: flex;
                flex-direction: column;
                align-items: center;
                transition: 0.3s ease-in-out;
                
                & button {
                    bottom: -25px;
                    right: unset;
                }

                .price {
                    transform: none;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    margin-bottom: 3.5rem;
                }
            }
        }

    }

    .contact {
        width: 57rem;
        display: flex;
        justify-content: center;
        gap: 7rem;

        &__wrapper{
            width: 40%;
        }

        &__form{
            width: 40%;
        }

        &__title {
           font-size: 3rem;
           margin-bottom: 1rem; 
        }

        &__info {
            display: flex;
            gap: 1.4rem;
        }


        
    }
}

