@import '../variables.scss';

footer {
    box-shadow: 0px -10px 10px rgba(0, 0, 0, 0.059);
    padding: 1.4rem 1rem;
    position: relative;

    .copyright, .socials {
        display: inline-block;
    }

    .copyright {
        width: 60%;

        &__title {
            font-family: $title-font;
            font-size: 1.6rem;
            font-weight: 300;
            color: #08A6E4;
        }

        &__disclaimer {
            font-size: 0.7rem;
            font-weight: 400;
            color: #a5a5a5;
        }
    }

    .socials {
        position: absolute;
        right: 18px;
        top: 33px;

        .twitter {
            margin-right: 0.8rem;
        }
    }
}

