@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
/* Variables */
/* RESET */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
  font-family: "Open Sans", sans-serif;
}

/* HEADER */
.header {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  padding: 1rem 1.4rem;
  position: relative;
}
.header__logo {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 2rem;
  color: #08A6E4;
  display: inline-block;
}

.nav {
  display: inline-block;
  position: absolute;
  right: 1.4rem;
  margin-top: 10px;
}
.nav__links--hidden {
  display: none;
}

/* WHY US SECTION */
.whyus {
  width: 100%;
}
.whyus__hero {
  margin: 5rem auto 2.5rem;
  padding: 0 1.4rem;
}
.whyus__hero__title {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 2.1rem;
  margin-bottom: 1.3rem;
  text-align: center;
}
.whyus__hero__text {
  font-size: 1rem;
  margin-bottom: 2.5rem;
  padding: 0 1.4rem;
  text-align: center;
}
.whyus__hero__btn {
  background-color: #08A6E4;
  color: white;
  padding: 1rem;
  width: 100%;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-size: 1rem;
  box-shadow: 7px 7px 8px rgba(8, 166, 228, 0.2549019608);
}
.whyus__img {
  width: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}
.whyus__popular {
  margin: 1.5rem auto 5rem;
  padding: 0 1.4rem;
}
.whyus__popular__title {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 2rem;
  text-align: center;
  padding: 0 1.5rem;
  margin-bottom: 2.8rem;
}
.whyus__popular__card {
  width: 10rem;
  margin: 1.3rem auto 0;
}
.whyus__popular__card .card__icon-container {
  width: 80%;
  margin: 0 auto;
}
.whyus__popular__card .card__icon-container .card__shape {
  position: relative;
  left: 24px;
}
.whyus__popular__card .card__icon-container .card__icon {
  position: relative;
  right: 11px;
  top: -8px;
}
.whyus__popular__card .card__icon-container .eye {
  width: 55px;
  margin-bottom: 6px;
}
.whyus__popular__card .card__figure, .whyus__popular__card .card__caption {
  text-align: center;
}
.whyus__popular__card .card__figure {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 1.1rem;
  letter-spacing: 0.5rem;
  margin: 0.8rem auto 1rem;
}
.whyus__popular__card .card__caption {
  font-family: "Raleway", sans-serif;
  font-size: 0.9rem;
  font-weight: 400;
  color: #a5a5a5;
}

/* BENEFITS SECTION */
.benefits {
  padding: 2.5rem 1.4rem;
  background-color: #f7f7f7;
}
.benefits__article {
  border: 1px solid #E8E9ED;
  border-radius: 5px;
  background-color: white;
  padding: 2rem 1.5rem;
  margin-bottom: 2.8rem;
  position: relative;
}
.benefits__article .img--center {
  display: block;
  margin: 0 auto;
  width: 70%;
  z-index: 50;
  position: relative;
}
.benefits__article .img--absolute {
  position: absolute;
  top: 12px;
  right: 63px;
}
.benefits__article .blue-circle {
  width: 8rem;
}
.benefits__article .phone {
  position: absolute;
  z-index: 50;
  top: 40px;
  right: 52px;
}
.benefits__article__title {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 2rem;
  text-align: center;
  margin: 1.5rem 0;
}
.benefits__article__text {
  font-size: 0.8rem;
}/*# sourceMappingURL=input.css.map */