@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
/* Variables */
/* RESET */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  min-width: 320px;
  font-family: "Open Sans", sans-serif;
}

/* HEADER */
.header {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  padding: 1rem 1.4rem;
  position: relative;
  gap: 2rem;
}
.header__logo {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 2rem;
  color: #08A6E4;
  display: inline-block;
}
.header__progressbar {
  position: sticky;
  top: 0;
  height: 6px;
  width: 0;
  background-color: #08A6E4;
  z-index: 1000;
}

.nav {
  display: inline-block;
  position: absolute;
  right: 1.4rem;
  margin-top: 10px;
}
.nav__links--hidden {
  position: absolute;
  top: 9px;
  list-style: none;
  background-color: white;
  letter-spacing: 3px;
  font-weight: 700;
  color: #a5a5a5;
  padding: 20px;
  width: 100vw;
  right: -22px;
  box-shadow: 2px 13px 23px -12px rgba(0, 0, 0, 0.3);
  opacity: 0;
  transition: 0.3s ease-in-out;
  pointer-events: none;
}
.nav__links--hidden.active {
  opacity: 1;
  top: 35px;
  transition: 0.3s ease-in-out;
}
.nav__links--hidden li {
  margin: 1rem 0;
}
.nav__links--hidden li:active {
  color: black;
}

/* WHY US SECTION */
.whyus {
  width: 100%;
}
.whyus__hero {
  margin: 5rem auto 2.5rem;
  padding: 0 1.4rem;
  text-align: center;
}
.whyus__hero__title {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 2.1rem;
  margin-bottom: 1.3rem;
}
.whyus__hero__text {
  font-size: 1rem;
  margin-bottom: 2.5rem;
  padding: 0 1.4rem;
}
.whyus__hero__btn {
  background-color: #08A6E4;
  color: white;
  padding: 1rem;
  width: 20rem;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-size: 1rem;
  box-shadow: 7px 7px 8px rgba(8, 166, 228, 0.2549019608);
}
.whyus__img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.whyus__popular {
  margin: 1.5rem auto 5rem;
  padding: 0 1.4rem;
}
.whyus__popular__title {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 2rem;
  text-align: center;
  padding: 0 1.5rem;
  margin-bottom: 2.8rem;
}
.whyus__popular__card {
  width: 10rem;
  margin: 1.3rem auto 0;
}
.whyus__popular__card .card__icon-container {
  width: 80%;
  margin: 0 auto;
}
.whyus__popular__card .card__icon-container .card__shape {
  position: relative;
  left: 24px;
}
.whyus__popular__card .card__icon-container .card__icon {
  position: relative;
  right: 11px;
  top: -8px;
}
.whyus__popular__card .card__icon-container .eye {
  width: 55px;
  margin-bottom: 6px;
}
.whyus__popular__card .card__figure, .whyus__popular__card .card__caption {
  text-align: center;
}
.whyus__popular__card .card__figure {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 1.1rem;
  letter-spacing: 0.5rem;
  margin: 0.8rem auto 1rem;
}
.whyus__popular__card .card__caption {
  font-family: "Raleway", sans-serif;
  font-size: 0.9rem;
  font-weight: 400;
  color: #a5a5a5;
}

/* BENEFITS SECTION */
.benefits {
  padding: 2.5rem 1.4rem;
  background-color: #f7f7f7;
}
.benefits__article {
  width: 19rem;
  border: 1px solid #E8E9ED;
  border-radius: 5px;
  background-color: white;
  padding: 2rem 1.5rem;
  margin: 0 auto 2.8rem;
  position: relative;
}
.benefits__article div {
  margin: 0 auto;
  width: 240px;
  position: relative;
}
.benefits__article--nopadding {
  width: 19rem;
  border: 1px solid #E8E9ED;
  border-radius: 5px;
  background-color: white;
  padding: 1.5 0;
  margin: 0 auto 2.8rem;
  position: relative;
}
.benefits__article--nopadding .innerpadding {
  padding: 0 1.5rem;
}
.benefits__article--nopadding > div {
  margin-top: 1.5rem;
  margin-bottom: -0.3rem;
}
.benefits__article--nopadding > div .green-rectangle {
  width: 100%;
}
.benefits__article--nopadding > div .trumpet {
  position: absolute;
  z-index: 50;
  bottom: -60px;
  right: 25px;
}
.benefits__article .img--center {
  display: block;
  margin: 0 auto;
  width: 70%;
  z-index: 50;
  position: relative;
}
.benefits__article .img--absolute {
  position: absolute;
  top: -21px;
  right: 30px;
  width: 5rem;
}
.benefits__article .blue-circle {
  width: 8rem;
  display: block;
  margin: 0 auto;
}
.benefits__article .phone {
  position: absolute;
  z-index: 50;
  top: 4px;
  right: 10px;
}
.benefits__article__title {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 2rem;
  text-align: center;
  margin: 1.5rem 0;
}
.benefits__article__text {
  font-size: 0.9rem;
}

/* PRICING SECTION */
.pricing {
  padding: 2.5rem 1.2rem;
}
.pricing__title {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 2.2rem;
  text-align: center;
}
.pricing__currency {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5rem;
  gap: 1.5rem;
}
.pricing__currency .currency__btn {
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  color: #a5a5a5;
  font-weight: 500;
}
.pricing__currency .currency__btn:active {
  position: relative;
  top: 2px;
}
.pricing__currency .currency__btn.active {
  color: #08A6E4;
}
.pricing__article {
  border-radius: 1.1rem;
  padding: 1.5rem 0 2rem;
  position: relative;
  width: 18rem;
  margin: 0 auto 3.5rem;
}
.pricing__article .price, .pricing__article .features {
  display: inline-block;
}
.pricing__article .price {
  width: 45%;
  height: 100%;
  text-align: center;
  position: relative;
  transform: translateY(-50%);
}
.pricing__article .price__amount, .pricing__article .price__limited {
  display: inline-block;
  width: 100%;
}
.pricing__article .price__amount {
  font-size: 2.9rem;
  font-weight: 300;
}
.pricing__article .price__limited {
  font-family: "Raleway", sans-serif;
  font-size: 0.8rem;
  font-weight: 700;
  color: #13253B;
}
.pricing__article .withoffer {
  transform: translateY(-25%);
}
.pricing__article .features ul {
  list-style: none;
}
.pricing__article .features ul li {
  margin-bottom: 1.2rem;
  font-size: 0.9rem;
}
.pricing__article .features ul img {
  margin-right: 0.7rem;
}
.pricing__article button {
  display: block;
  position: absolute;
  bottom: -25px;
  right: 69px;
  width: 9.5rem;
  height: 3.1rem;
  border: none;
  border-radius: 1.5rem;
  color: white;
  font-weight: 700;
}
.pricing .basic {
  border: 1px solid #EB476E;
}
.pricing .basic .price__amount {
  color: #EB476E;
}
.pricing .basic button {
  background-color: #EB476E;
}
.pricing .basic:hover {
  transform: scale(1.1);
  box-shadow: 10px 10px 10px rgba(235, 71, 110, 0.2666666667);
}
.pricing .professional {
  border: 1px solid #07ACE6;
}
.pricing .professional .price__amount {
  color: #07ACE6;
}
.pricing .professional button {
  background-color: #07ACE6;
}
.pricing .professional:hover {
  transform: scale(1.1);
  box-shadow: 10px 10px 10px rgba(7, 172, 230, 0.2666666667);
}
.pricing .premium {
  border: 1px solid #55DFB4;
}
.pricing .premium .price__amount {
  color: #55DFB4;
}
.pricing .premium button {
  background-color: #55DFB4;
}
.pricing .premium:hover {
  transform: scale(1.1);
  box-shadow: 10px 10px 10px rgba(85, 223, 180, 0.2666666667);
}

.slider {
  position: relative;
  width: 70%;
  margin: 0 auto 5rem;
  overflow: hidden;
}
.slider .slide {
  width: 100%;
  display: none;
  -o-object-fit: cover;
     object-fit: cover;
}
.slider .slide.displaySlide {
  display: block;
  animation: fade 0.3s ease-in-out;
}
.slider .slide__balls {
  width: 100%;
  height: 50px;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.slider .slide__balls .ball {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #858585;
  display: inline-block;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}
.slider .slide__balls .ball.active {
  background-color: white;
}
.slider button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  background: none;
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  width: 4rem;
  height: 4rem;
}
.slider button:hover {
  background-color: rgba(0, 0, 0, 0.3137254902);
}
.slider button.slider__prev {
  left: 0.7rem;
}
.slider button.slider__next {
  right: 0.7rem;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
/* CONTACT SECTION */
.contact {
  padding: 0 1.4rem;
  width: 22.5rem;
  margin: 0 auto;
}
.contact__title {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 2.4rem;
  margin-bottom: 0.3rem;
}
.contact__p {
  font-size: 1rem;
  font-weight: 400;
}
.contact__info {
  margin: 2.2rem 0;
}
.contact__info div > span {
  vertical-align: super;
  color: #a5a5a5;
}
.contact__form label {
  font-size: 0.7rem;
  font-weight: 600;
  letter-spacing: 0.4rem;
  color: #08A6E4;
}
.contact__form input {
  margin-bottom: 1.5rem;
  padding: 0.8rem 1rem;
  border: none;
  border-bottom: 1px solid black;
  width: 100%;
}
.contact__form div input[type=checkbox] {
  width: 10%;
  display: inline-block;
  vertical-align: top;
  margin-block-start: 5px;
}
.contact__form div p {
  display: inline-block;
  width: 88%;
  font-size: 0.75rem;
  color: #707070;
  margin-bottom: 2rem;
}
.contact__form div p.error-msg {
  color: #ff0033;
  margin: -23px 0 10px;
  font-size: 0.8rem;
  display: none;
}
.contact__form .align-right {
  text-align: right;
}
.contact__form button {
  background-color: #08A6E4;
  color: white;
  padding: 1rem;
  border: none;
  border-radius: 2.2rem;
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: 700;
  box-shadow: 7px 7px 8px rgba(8, 166, 228, 0.2549019608);
  width: 14rem;
  height: 3.5rem;
  margin-bottom: 2.75rem;
}

/* FOOTER */
footer {
  box-shadow: 0px -10px 10px rgba(0, 0, 0, 0.059);
  padding: 1.4rem 1rem;
  position: relative;
}
footer .copyright, footer .socials {
  display: inline-block;
}
footer .copyright {
  width: 60%;
}
footer .copyright__title {
  font-family: "Raleway", sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
  color: #08A6E4;
}
footer .copyright__disclaimer {
  font-size: 0.7rem;
  font-weight: 400;
  color: #a5a5a5;
}
footer .socials {
  position: absolute;
  right: 18px;
  top: 33px;
}
footer .socials .twitter {
  margin-right: 0.8rem;
}

.to-top {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 16px;
  right: 32px;
  background-color: white;
  padding: 0.8rem;
  border: 1px solid #08A6E4;
  border-radius: 50%;
  cursor: pointer;
  font-size: 1.2rem;
  opacity: 0;
  z-index: 900;
  pointer-events: none;
  transition: all 0.4s;
  width: 4rem;
  height: 4rem;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 0.3s ease-in-out;
  border: 1px solid #08A6E4;
  border-radius: 0.7rem;
  z-index: 2000;
  background-color: white;
  width: 35rem;
  max-width: 80%;
}
.modal.active {
  transform: translate(-50%, -50%) scale(1);
}
.modal__form {
  display: flex;
  flex-direction: column;
  padding: 1rem 1.5rem;
  gap: 1rem;
}
.modal__form div {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
.modal__form div h2 {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 1.8rem;
  color: #08A6E4;
}
.modal__form div input {
  width: 75%;
  padding: 0.5rem;
  border: none;
  border-bottom: 1px solid #a5a5a5;
}
.modal__form div input::-moz-placeholder {
  color: #a5a5a5;
  font-size: 1rem;
}
.modal__form div input::placeholder {
  color: #a5a5a5;
  font-size: 1rem;
}
.modal__form div .close-btn {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 1.5rem;
  color: #08A6E4;
}
.modal__form div .subscribe-btn {
  background-color: #08A6E4;
  color: white;
  padding: 0.5rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1rem;
  width: 5rem;
  letter-spacing: 0.2rem;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  opacity: 0;
  transition: 0.3s ease-in-out;
  pointer-events: none;
}
#overlay.active {
  opacity: 1;
  pointer-events: auto;
}

.active {
  display: block;
}

.to-top.shown {
  opacity: 1;
  pointer-events: auto;
  bottom: 32px;
}

p.error-msg {
  margin: -23px 0 10px;
  font-size: 0.8rem;
  color: #ff0033;
  display: none;
}

@media only screen and (min-width: 1000px) {
  .header {
    padding: 0 8.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
  }
  .nav {
    position: static;
    display: flex;
    align-items: center;
    margin: 0;
    height: 73.38px;
  }
  .nav__burgermenu {
    display: none;
  }
  .nav__links--hidden {
    position: static;
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    list-style: none;
    gap: 6rem;
    font-size: 0.7rem;
    font-weight: 700;
    color: #a5a5a5;
    opacity: 1;
    box-shadow: none;
    pointer-events: all;
    width: auto;
  }
  .nav__links--hidden li {
    padding: 1.7rem 0.5rem;
    text-align: center;
    border-bottom: 4px solid white;
  }
  .nav__links--hidden li:hover {
    color: black;
    border-bottom: 4px solid #08A6E4;
  }
  .whyus__hero {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .whyus__popular__title {
    font-size: 2.25rem;
  }
  .whyus__popular > div {
    margin: 0 auto;
    display: flex;
    width: 950px;
  }
  .benefits__article {
    width: 90%;
    max-width: 71rem;
    height: 23rem;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    text-align: left;
    padding: 0 2.1rem;
  }
  .benefits__article > div {
    width: 20.6rem;
  }
  .benefits__article__text {
    margin-bottom: 3.1rem;
    font-size: 1rem;
  }
  .benefits__article__decor.red {
    border-bottom: 4px solid #FB3B64;
  }
  .benefits__article__decor.blue {
    border-bottom: 4px solid #08A6E4;
  }
  .benefits__article__decor.green {
    border-bottom: 4px solid #55DFB4;
  }
  .benefits__article:nth-of-type(2) {
    flex-direction: row;
  }
  .benefits__article__title {
    margin-top: 0;
    text-align: left;
    font-size: 2.25rem;
  }
  .benefits__article .phone {
    position: absolute;
    z-index: 50;
    top: 17px;
    right: 59px;
    width: 17rem;
  }
  .benefits__article--nopadding {
    width: 90%;
    max-width: 71rem;
    display: flex;
    align-items: center;
    text-align: left;
    padding: 0;
    margin: 0 auto 2.8rem;
    position: relative;
    gap: 2rem;
    background-color: #f7f7f7;
    border: none;
  }
  .benefits__article--nopadding > div {
    margin-top: 0;
    background-color: white;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    height: 23rem;
  }
  .benefits__article--nopadding > .images {
    width: 21.5rem;
    border: none;
    flex-shrink: 0;
    position: relative;
  }
  .benefits__article--nopadding > .images .green-rectangle {
    width: 100%;
    height: 100%;
  }
  .benefits__article--nopadding > .images .trumpet {
    position: absolute;
    z-index: 50;
    bottom: 54px;
    right: 44px;
  }
  .benefits__article--nopadding > .text {
    width: 38.9rem;
    padding: 0 10rem 0 2.1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
  }
  .benefits__article--nopadding > .text h2 {
    font-size: 2.25rem;
  }
  .benefits__article--nopadding > .text p {
    font-size: 1rem;
  }
  .benefits__article--nopadding > .text .green {
    width: 70%;
  }
  .benefits .blue-circle {
    width: 13rem;
    display: inline;
  }
  .benefits .img--center {
    width: 99%;
  }
  .benefits .img--absolute {
    position: absolute;
    top: -49px;
    right: -17px;
    width: 11rem;
  }
  .pricing {
    padding: 7rem 11.25rem;
  }
  .pricing > h2 {
    margin-bottom: 3.1rem;
  }
  .pricing > div {
    display: flex;
    gap: 2.5rem;
  }
  .pricing > div > article {
    width: 23.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.3s ease-in-out;
  }
  .pricing > div > article button {
    bottom: -25px;
    right: unset;
  }
  .pricing > div > article .price {
    transform: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 3.5rem;
  }
  .contact {
    width: 57rem;
    display: flex;
    justify-content: center;
    gap: 7rem;
  }
  .contact__wrapper {
    width: 40%;
  }
  .contact__form {
    width: 40%;
  }
  .contact__title {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  .contact__info {
    display: flex;
    gap: 1.4rem;
  }
}/*# sourceMappingURL=input.css.map */